@define-color bg #FAFAFA; /*#1D2021;*/
@define-color fg #4D4D4C; /*#A89984;*/
@define-color cg #83988F; /*#A89984;*/

* {
	font-family: CommitMono, monospace;
}

.bar {
	min-width: 36px;
}

.widget-box {
	background-color: @bg;
	color: @fg;
}

.padded-box {
	padding: 8px;
}

.widget-contents {
	color: @fg;
}


.big-time {
	font-size: 26px;
	/*font-weight: bold;*/
}

.small-time {
}

.inverted {
	background-color: @fg;
	color: @bg;
}


.workspace {
	border-radius: 0;
	border: none;
	background-color: @bg;
	color: @fg;
	font-size: 22px;
}

.workspace.focused {
	background-color: @fg;
	color: @bg;
}

.flashing {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.filler {
	background-color: @bg;
	background-size: 25% 100%;
	/*background-image: linear-gradient(to right, transparent 25%, #83988F 25%, #83988F 75%, transparent 75%);*/
	padding: 4px 2px;
	background-origin: content-box;

}
